body {
  background-color: #e6ffee;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.left-image {
  flex: 1;
}

.right-image {
  flex: 1;
}

h1 {
  color: #006600;
}

h2 {
  color: #009933;
}

button {
  background-color: #009933;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

p {
  color: #006600;
  font-size: 18px;
}
